#weekday {
  color: wheat;
  font-size: 20px;
  font-family: Arial, Helvetica, monospace;
  font-weight: 510;
  background-color: rgb(6,6,33);
  border-style: solid;
  border-color: #c9c9c9;
  border-radius: 30px;
}

#today {
  color: #fff;
  background: rgb(241, 146, 36);
  border-radius: 8px;
  font-size: 20px;
  font-family: Arial, Helvetica, monospace;
  font-weight: 500;
}

#days {
  color: wheat;
  font-size: 20px;
  font-family: Arial, Helvetica, monospace;
  font-weight: 500;
}

table {
  border: 5px solid rgb(241, 146, 36);
  border-radius: 5px;
  background-color: rgb(5,19,54);
  border-collapse: separate;
  border-style: solid;
  border-radius: 5px;
  margin: auto;
}

td, tr {
  padding: 3px; 
  /* border: 1px solid rgb(182, 182, 182); */
  width: 50px;
  height: 30px;
  text-align: center;
}

#click_input_month, #click_input_year {
  height: auto;
  width: 50px;
}

#month, #prev, #next {
  font-family: Arial, Helvetica, monospace;
  font-weight: 510;
  font-size: 30px;
  height: 50px;
  border: 0px;
  color: wheat;
  background-color: rgb(6,6,33);
  border-style: solid;
  border-color: #c9c9c9;
  border-radius: 0px;

}

#prev, #next {
  cursor: pointer;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;  
  -khtml-user-select: none;   
  -moz-user-select: none;     
  -ms-user-select: none;     
  user-select: none;   
  background-color: rgb(5,19,54);
}

#prev:hover, #next:hover {
  background-color: rgb(9, 31, 87);
  border-style: solid;
  border: 0px;
  border-radius: 0px;

}
button {
  width: 120px;
  font-family: Arial, Helvetica, monospace;
  background-color: #dadada;
  border-width: 2px;
  border-color: #c7c7c7;
  color: rgb(0, 0, 0);
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-style: solid;
  border-radius: 5px;
}

html {
  /*height: 100%;*/
  background-image: url(https://i.giphy.com/media/pejC6N6W5GLEPtA27w/giphy.webp);
}